---
import '../style/experience_card.css';

interface Props {
    positionName: string;
    companyName: string;
    companyCountry: string;
    dateSpan: string;
    description: string;
}

const { positionName, companyName, companyCountry, dateSpan, description } = Astro.props;
---

<div class="experience-card py-5 mx-44 mt-10">
    <p class="flex justify-center text-4xl"> {positionName} </p>
    <p class="flex justify-center text-4xl"> {companyName} ({companyCountry}) </p>
    <p class="flex justify-center text-4xl"> {dateSpan} </p>
    <p class="flex justify-center text-3xl px-14 py-2"> {description} </p>
</div>